* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: white;
  -webkit-box-shadow: 1px 1px 10px rgba(204, 204, 255, 0.5);
          box-shadow: 1px 1px 10px rgba(204, 204, 255, 0.5);
  z-index: 100;
}

nav .icon {
  width: 112px;
  min-width: 112px;
  height: 50px;
  min-height: 50px;
  overflow: hidden;
  background: white;
  font-size: 45px;
  line-height: 50px;
  font-weight: 500;
  letter-spacing: 5px;
  cursor: pointer;
}

nav #capture {
  position: absolute;
  width: 46px;
  height: 46px;
  min-width: 46px;
  min-height: 46px;
  border-radius: 23px;
  border: none;
  background: url(./img/icon.png);
  background-color: rgba(255, 255, 255, 0.8);
  background-position: -63px 9px;
  background-size: 400px 580px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  right: 100px;
}

nav #capture:hover {
  background-color: rgba(194, 194, 194, 0.8);
}

nav #capture:active {
  background-color: rgba(230, 230, 230, 0.8);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.main .containerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 100vh;
  margin-top: 40px;
  background: #f9f9fc;
  border-right: 1px solid rgba(227, 227, 255, 0.7);
  -webkit-box-shadow: 1px 1px 5px rgba(204, 204, 255, 0.7);
          box-shadow: 1px 1px 5px rgba(204, 204, 255, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main .containerBox .leftbox {
  position: relative;
  width: 64px;
  background: rgba(22, 22, 32, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.main .containerBox .leftbox button {
  position: relative;
  background: url(./img/icon.png);
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
  overflow: hidden;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}

.main .containerBox .leftbox button:hover {
  background-color: rgba(117, 117, 117, 0.8);
}

.main .containerBox .leftbox .B1 {
  background-position: 4px -234px;
}

.main .containerBox .leftbox .B1:active {
  background-position: 4px -114px;
}

.main .containerBox .leftbox .B2 {
  background-position: -531px -236px;
}

.main .containerBox .leftbox .B2:active {
  background-position: -531px -116px;
}

.main .containerBox .leftbox .B3 {
  background-position: -272px -236px;
}

.main .containerBox .leftbox .B3:active {
  background-position: -272px -116px;
}

.main .containerBox .leftbox .B4 {
  background-position: -136px -233px;
}

.main .containerBox .leftbox .B4:active {
  background-position: -136px -113px;
}

.main .containerBox .rightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .containerBox .rightbox .choice_modelbox {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 50px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .containerBox .rightbox .choice_modelbox .readMe {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 50px;
  line-height: 25px;
}

.main .containerBox .rightbox .choice_modelbox .readMe p {
  font-size: 12px;
}

.main .containerBox .rightbox .choice_modelbox .readMe li {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 14px 0;
  text-align: start;
  font-size: 12px;
}

.main .containerBox .rightbox .choice_modelbox .readMe h4 {
  font-size: 14px;
}

.main .containerBox .rightbox .choice_modelbox .readMe input {
  border: 1px solid rgba(148, 148, 148, 0.5);
}

.main .containerBox .rightbox .choice_modelbox .choice_model {
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.main .containerBox .rightbox .choice_modelbox .choice_model.active {
  height: 900px;
}

.main .containerBox .rightbox .choice_modelbox .choice_model .title {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  line-height: 50px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 40px;
  z-index: 120;
  font-size: 14px;
}

.main .containerBox .rightbox .choice_modelbox .choice_model ul {
  position: relative;
  z-index: 120;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.main .containerBox .rightbox .choice_modelbox .choice_model ul li {
  width: 60%;
  margin: 20px 0;
  height: 180px;
  background: rgba(208, 208, 233, 0.055);
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.main .containerBox .rightbox .choice_modelbox .choice_model ul li img {
  width: 100%;
  height: 100%;
}

.main .containerBox .rightbox .choice_modelbox .choice_model ul li:hover {
  background: #d0d0e9;
}

.main .containerBox .rightbox .choice_modelbox .choice_model ul li.disabled {
  background: #bcbcda;
}

.cancel {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 35px;
}

.cancel.active {
  display: block;
}

.checkbox {
  position: fixed;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 30px;
  background-color: #1f1ff7;
  background-position: -402px -202px;
  -webkit-box-shadow: 1px 1px 10px rgba(65, 105, 225, 0.651);
          box-shadow: 1px 1px 10px rgba(65, 105, 225, 0.651);
  right: 100px;
  bottom: 100px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox .PandM {
  position: relative;
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 2.5px;
}

.checkbox .PandM::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.checkbox.hover {
  background-color: #0c0c5e;
}

.checkbox.active .PandM::after {
  top: 0;
  left: 0;
  -webkit-transform: ranslate(0, 0);
          transform: ranslate(0, 0);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 1;
}

.a {
  position: fixed;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  border-radius: 30px;
  background: url(./img/icon.png);
  background-color: #1f1ff7;
  background-position: -402px -202px;
  -webkit-box-shadow: 1px 1px 10px rgba(65, 105, 225, 0.651);
          box-shadow: 1px 1px 10px rgba(65, 105, 225, 0.651);
  right: 100px;
  bottom: 100px;
  z-index: 500;
}

.a .controlbox {
  position: absolute;
  top: 0;
  left: -650px;
  background: white;
  -webkit-box-shadow: 1px 1px 10px rgba(185, 185, 185, 0.315);
          box-shadow: 1px 1px 10px rgba(185, 185, 185, 0.315);
  border-radius: 30px;
  width: 600px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  z-index: 100;
  -webkit-transition: .5s;
  transition: .5s;
}

.a .controlbox.active {
  width: 0;
  left: 30px;
}

.a .controlbox button {
  width: 54px;
  min-width: 54px;
  height: 54px;
  min-height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-size: 12px;
}

.a .controlbox button:hover {
  background: rgba(22, 22, 32, 0.4);
}

.a .controlbox button:active {
  background: rgba(22, 22, 32, 0.7);
}

.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccccff;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.loadingPage.remove {
  opacity: 0;
}

.loadingPage.active {
  display: none;
}

.loadingPage button {
  width: 100px;
  height: 50px;
  border: none;
  background: white;
  color: black;
  -webkit-box-shadow: 0px 1px 10px rgba(134, 134, 134, 0.048);
          box-shadow: 0px 1px 10px rgba(134, 134, 134, 0.048);
}

.loadingPage button:hover {
  background: #e1e1fd;
}

.loadingPage button:active {
  background: #eaeaf8;
}

.ThreeJs {
  display: block;
}
/*# sourceMappingURL=index.css.map */